<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BeebPerf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BeebPerf.Properties.Settings>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RecentPerfFilePathName" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowLayout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrimarySplitterDistance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisplaySettings" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorTheme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SecondarySplitterDistance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RecentLabelsFilePathName" serializeAs="String">
                <value />
            </setting>
            <setting name="LabelsFiles" serializeAs="String">
                <value />
            </setting>
        </BeebPerf.Properties.Settings>
    </userSettings>
</configuration>